{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{% static 'images/a-1' %}.jpg" alt="">
            </div>
            <div class="img-box b2">
              <img src="{% static 'images/a-2' %}.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              О нас
            </h2>
            <p>
              Здесь, в нашем уютном магазине, мы предлагаем вам не просто часы, а источники стиля, 
              элегантности и надежности. Мы гордимся представлять самые изысканные и качественные часы 
              от ведущих мировых брендов.
              Наш ассортимент включает в себя часы для всех случаев жизни: от повседневных моделей для 
              активного образа жизни до утонченных и роскошных экземпляров, подчеркивающих вашу 
              индивидуальность в особых моментах.
              В "Время и Стиль" мы понимаем, что выбор часов — это не просто покупка, а инвестиция в свой 
              стиль и уверенность. Поэтому наши профессиональные консультанты всегда готовы помочь вам сделать правильный выбор, 
              учитывая ваши предпочтения и потребности.
              Наш магазин не просто торговая точка, а место, где вы можете насладиться процессом выбора, 
              где каждая минута становится уникальным опытом. Приходите к нам, чтобы открыть для себя мир 
              часовой моды, где время не просто тикает, а говорит о вашем стиле и характере.            </p>
            <a href="{% url 'product' %}">
              К товарам 
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->



{% endblock %}